
:root {
   --dark: rgb(39, 39, 39);
   --gray-dark: #222222;
   --text-color: rgb(231, 221, 221);
   --gray-back-color: rgb(16,16,16);
   --back-icon-color: rgb(45,45,45);
   --back-to-media: rgb(24,24,24);
   --color-for-p-in-form: rgb(229,221,221);
   --back-for-form-color: rgb(34,34,34);
   --back-for-input-in-form: rgb(84,84,84);
   
}
/* Bike rentals blocks* start*/
.container-for-main-start-three-blocks{
    background-color: var(--dark);
}

.bikess {
    max-width: 1150px;
    margin: auto;
    
}
.main-start-three-blocks{
   text-align: center;
   padding: 60px 35px 60px 35px;
   
}
.main-start-three-blocks h3 {
    color: var(--color-font-for-headings);
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;

  
}
.main-start-three-blocks p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: var(--text-color);
    margin-top: 20px;

}
.main-start-three-blocks-silver-background{
    background-color: var(--gray-dark);
}

@media(min-width:761px) {
    .bikess{
        display: flex;
      
    }
    .main-start-three-blocks {
        padding: 80px 40px 80px 40px;
        font-size: 22px;
    }

}

@media(min-width:991px) {
    .bikess {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .main-start-three-blocks {
        padding: 120px 50px 120px 50px;
    }
}
/* Bike rentals blocks* finished*/

/*Bicycle Types blocks* start*/
 
#bikes {
    background-color: var(--gray-back-color);
    padding: 85px 24px 80px 24px;
}

.bicycle-types h2 {
text-align: center;
font-family: 'Playfair Display', serif;
font-size: 34px;
font-weight: 900;
line-height: 41px;
color: var(--color-font-for-headings);
}

.four-bicycles p {
font-family: 'Montserrat', sans-serif;
text-align: center;
font-size: 22px;
font-weight: 600;
line-height: 29px;
color: var(--text-color);
margin-top: 20px;
padding-left: 15px;
padding-right: 15px;
}

.four-bicycles img {
    height: 70px;
    width: 70px;
    margin-top: 50px;
}
.foto-of-bicycles {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(min-width:761px) {
    .four-kind-of-bikes {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 45px;
    }
    .bicycle-types h2 {
        font-size: 39px;
        font-weight: 900;
        line-height: 47px;
    }
    .four-bicycles img  {
        height: 100px;
        width: 100px;
        margin-top: 30px;
        padding-left: 15px;
        padding-right: 15px;
    }
    #bikes {
        padding: 85px 32px 80px 32px;
    }
    .bicycle-types {
        padding-right: 15px;
        padding-left: 15px;
    }
    .four-bicycles p {
        margin-top: 20px;
    }
}

@media(min-width:991px) {
    .four-kind-of-bikes {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .bicycle-types h2 {
        font-size: 45px;
        font-weight: 900;
        line-height: 54px;
    }
    .four-bicycles img {
        height: 100px;
        width: 100px;
    }
    .four-bicycles p {
        font-size: 23px;
        font-weight: 600;
        line-height: 30px;

    }
}

/*Bicycle Types blocks* finished*/

/*  Tag-along blocks* start*/

.tag-along-of-bikes {
    background-image: url(../img/bike-tag-along.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 60px 35px 60px 35px;
}

.bicycle-trailer-of-bikes {
    background-image: url(../img/bicycle-trailer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 60px 35px 60px 35px;
}

.baby-seat-of-bikes {
    background-image: url(../img/baby-seat.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 60px 35px 60px 35px;
}

.tag-along-of-bikes p {
font-family: 'Montserrat', sans-serif;
font-size: 28px;
font-weight: 400;
line-height: 33px;
text-align: center;
color: var(--text-color);
}

.bicycle-trailer-of-bikes p {
font-family: 'Montserrat', sans-serif;
font-size: 28px;
font-weight: 400;
line-height: 33px;
text-align: center;
color: var(--text-color);
}

.baby-seat-of-bikes p {
font-family: 'Montserrat', sans-serif;
font-size: 28px;
font-weight: 400;
line-height: 33px;
text-align: center;
color: var(--text-color);
}

@media(min-width:761px) {
    .tag-along-of-bikes {
        padding: 80px 40px 80px 40px;
        display: grid;
        grid-template-columns: 1fr 1fr;

    }
    .bicycle-trailer-of-bikes {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 80px 40px 80px 40px;
    }
    .three-pic{
         display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .baby-seat-of-bikes {
        max-width: 100%;
        padding: 80px 40px 80px 40px;
    }
}

@media(min-width:991px) {
     .three-pic {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
}
    
    .tag-along-of-bikes {
        padding: 120px 50px 120px 50px;
        font-size: 35px;
        font-weight: 400;
        line-height: 42px;
        text-align: center;
    }

    .bicycle-trailer-of-bikes {
        padding: 120px 50px 120px 50px;
        font-size: 35px;
        font-weight: 400;
        line-height: 42px;
        text-align: center;
    }

    .baby-seat-of-bikes {
        padding: 120px 50px 120px 50px;
        font-size: 35px;
        font-weight: 400;
        line-height: 42px;
        text-align: center;
    }
}
/*  Tag-along blocks* fished*/


/*  rent-bike blocks* start*/

.conteiner-rent-bike {
    background-color: var(--back-to-media);
    padding: 85px 15px 80px 15px;
}

.rent-bike {
    max-width: 1150px;
    margin: auto;
}

.bikes-info-stransform {
    margin-left: 20px;
    box-sizing: border-box;
}
.icons-how-to-rent-a-bike {
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 94%;   
}

#how-to-rent-a-bike h2 {
    font-size: 34px;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    line-height: 41px;
    text-align: center;
    color: var(--color-font-for-headings);
}

.bikes-info-stransform h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    font-weight: 700;
    line-height: 29px;
    color: var(--color-font-for-headings);
}

.bikes-info-stransform p {
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 29px;
}

.all-bikes-container {
    margin-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

.bikes-img-strasform img {
    width: 26px;
    height: 26px;
    padding: 12px 12px 12px 12px;
}

.bikes-img-strasform  {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--back-icon-color);
}

.classik-bike img {
    width: 100%;
    height: auto;
}


@media(min-width:761px) {
    .all-bikes-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
    }

    #how-to-rent-a-bike h2 {
        font-size: 39px;
        line-height: 47px;
    }
    .bikes-img-strasform img {
        width: 40px;
        height: 40px;
        padding: 15px 15px 15px 15px;
    }

    .bikes-img-strasform {
        width: 70px;
        height: 70px;
    }
}

@media(min-width:991px) {
    #how-to-rent-a-bike h2 {
        font-size: 45px;
        line-height: 54px;
        
    }
}

/*  rent-bike blocks finished */

/*  Form blocks start*/


.counteiner-of-wanna-bike{
    background-image: url(../img/back-bike-rent.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#wanna-bike {
    max-width: 1150px;
    margin: auto;
    padding: 90px 24px 90px 24px;
}

.wana-rent-bike h2 {
    font-family: 'Playfair Display', serif;
    font-size: 34px;
    font-weight: 900;
    line-height: 41px;
    text-align: center;
    color: var(--color-font-for-headings);
}

.fill-bike p {
    font-family: Muli, sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    color: var(--color-for-p-in-form);
    margin-top: 25px;
}

.back-for-form-of-bike {
    background-color: var(--back-for-form-color);
    padding: 39px 47px 39px 47px;
    text-align: center;
}

.form-of-rent {
    display: flex;
    flex-direction: column;
}

.form-of-rent input {
    background-color: var(--back-for-input-in-form);
    padding: 14px 30px 14px 30px;
    margin-top: 12px;
    font-family: 'Montserrat', sans-serif;
    color: var(--color-for-form-input-text);
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
}

.form-of-rent-button {
    background-color: var(--color-red);
    margin-top: 12px;
    padding: 14px 30px 14px 30px;
    color: var(--color-for-p-in-form);
}

@media(min-width:761px) {

 .form-of-rent-a-bike {
     display: grid;
     grid-template-columns: 1fr;
 }

    .wana-rent-bike h2 {
        font-size: 39px;
        line-height: 47px;
    }

    .fill-bike p {
        line-height: 27px;
    }
#wanna-bike {
    padding: 80px 32px 80px 32px;
}

.back-for-form-of-bike {
    padding: 46px 58px 46px 58px;
}


}

  









   






