*{
    padding: 0;
    margin: 0;
}

:root {
    --color-font-for-headings: rgb(244, 244, 244);
    --cplor-font-font-for-paragraphs: rgb(231, 221, 221);
    --color-red: #E03033;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}


.logo {
    font-family: 'Playfair Display', serif;;
    font-size: 34px;
    font-weight: 900;
    line-height: 41px;
    margin-left: 25px;
    margin-top: 30px;
}

.logo a{
    /*color: var(--color-font-for-headings);*/
    
}

.header-menu-div-flex{
    display: flex;
}

.menu {
    font-family: 'Montserrat', sans-serif;
    justify-content: flex-end;
}

#burger-checkbox {
    display: none;
    
}

.menu {
    display: none;
}

input:checked ~ .menu  {
    display: block;
}

.menu a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-font-for-headings);
}

.menu a:hover {
    font-weight: bold;
    color: var(--color-red);
}

