/*STYLES START FOR CONTAINER-FOR-MOST-POPULAR-BIKES*/
.container-for-most-popular-bikes {
    background-color: var(--background-dark);
}

#mostpopularbikes {
    max-width: 1150px;
    margin: auto;
}

.most-popular-bike-heading {
    height: 40px;
    padding-top: 90px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

.most-popular-bike-heading h2 {
    font-family: 'Playfair Display', serif;
    color: var(--color-font-for-headings);
    font-size: 34px;
    font-weight: 900;
    line-height: 41px;
}

.most-popular-bikes-blocks img {
    display: block;
    width: 100%;
}

.most-popular-bikes-separate-blocks{
    margin-top: 50px;
    padding-right: 24px;
    padding-left: 24px;
}

.most-popular-bikes-separate-blocks h3 {
    font-family: 'Montserrat', sans-serif;
    color: var(--color-font-for-headings);
    font-size: 22px;
    font-weight: 600;
    line-height: 29px;
    margin-top: 20px;
}

.most-popular-bikes-separate-blocks p {
    font-family: 'Montserrat', sans-serif;
    color: var(--color-font-for-paragraphs);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 20px;
}

.most-popular-bikes-separate-blocks ul {
    margin-top: 20px;
}

.most-popular-bikes-separate-blocks ul li {
    font-family: 'Montserrat', sans-serif;
    color: var(--color-font-for-paragraphs);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    list-style-type: none;
}

.most-popular-bikes-separate-blocks ul li span {
    font-weight: 700;
    color: var(--color-red);
}

.most-popular-bikes-separate-blocks button {
    width: 130px;
    height: 46px;
    font-family: 'Montserrat', sans-serif;
    color: var(--color-font-for-headings);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    border: 2px solid var(--color-font-for-paragraphs);
    background-color: var(--background-dark);
    margin-top: 35px;
}
.last-button {
    padding-bottom: 100px;
}
/*STYLES FINISH FOR CONTAINER-FOR-MOST-POPULAR-BIKES
----------------------------------------------------*/
/*STYLES FINISH FOR CONTAINER-FOR-REPAIRS*/
.container-for-repairs {
    background-color: var(--more-dark);
}

#repairs {
    max-width: 1150px;
    margin: auto;
    padding: 85px 24px 90px 24px;
}

.repairs {
    text-align: center;
}

.repairs h2 {
    font-family: 'Playfair Display', serif;
    color: var(--color-font-for-headings);
    font-size: 34px;
    font-weight: 900;
    line-height: 41px;
}

.info-block-after-headind {
    margin-top: 50px;
}
.info-block-after-headind img {
    display: block;
    width: 100%;
}

.paragraph-text {
    font-family: 'Montserrat', sans-serif;
    color: var(--color-font-for-paragraphs);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 50px;
}

.small-photo {
    width: 70px;
    height: 70px;
    padding-right: 15px;
}

.small-photo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.image-and-photo {
    display: flex;
    flex: 2;
    margin-top: 20px;
}

.text-with-small-photo {
    flex: 1;
    font-family: 'Montserrat', sans-serif;
    color: var(--color-font-for-paragraphs);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-left: 15px;
}

.mike {
    margin-top: 20px;
}

/*STYLES FINISH FOR CONTAINER-FOR-REPAIRS
----------------------------------------*/
/* STYLES START FOR CONTAINER-PRICE-LIST-FOR-MOBILE-LIST*/
.container-price-list-for-mobile {
    background-color: var(--background-dark);
}

.price-list-for-mobile {
    max-width: 1150px;
    margin: auto;
    padding: 85px 0px 85px 0px;
}

#price {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

#price h2 {
    font-family: 'Playfair Display', serif;
    color: var(--color-font-for-headings);
    font-size: 34px;
    font-weight: 900;
    line-height: 41px;
}

.price-list-for-mobile ul {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px;
}

.price-list-for-mobile ul li {
    list-style-type: none;
    margin-top: 80px;
    margin-bottom: 70px;
}

.mobile-price-list-text {
    display: flex;
    border-bottom: 1px solid rgba(244, 244, 244, 0.2);
}

.paragraph-for-price-list-text-heading {
    font-family: 'Montserrat', sans-serif;
    color: var(--color-font-for-paragraphs);
    font-size: 22px;
    font-weight: 600;
    line-height: 29px;
    padding-left: 40px;
    padding-right: 25px;
    padding-top: 45px;
    padding-bottom: 15px;
}

.paragraph-for-price-list-text-small {
    font-family: 'Montserrat', sans-serif;
    color: var(--color-font-for-paragraphs);
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
    padding-left: 55px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.paragraph-for-price-list-text-heading-second {
    margin-left: 190px;
}

.second {
    font-size: 19px;
    font-weight: 500;
    margin-left: 230px;
    align-items: center;
}
/* STYLES FINISH FOR CONTAINER-PRICE-LIST-FOR-MOBILE-LIST*/


@media(min-width:760px) {
    /*MEDIA START FOR CONTAINER-FOR-MOST-POPULAR-BIKES*/
    .most-popular-bike-heading h2 {
        font-size: 39px;
        line-height: 47px;
    }

    .most-popular-bikes-blocks {
        display: grid;
        grid-template-columns: 1fr 1fr;
        
    }
    /*MEDIA FINISH FOR CONTAINER-FOR-MOST-POPULAR-BIKES
    --------------------------------------------------*/
    /*MEDIA START FOR CONTAINER-FOR-REPAIRS*/
    .repairs h2 {
        font-size: 39px;
        line-height: 47px;
    }

    .info-block-after-headind {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
    }

    .all-text-under-heading {
        margin-top: -50px;
    }
    /*MEDIA FINISH FOR CONTAINER-FOR-REPAIRS
    ------------------------------------------------------*/
    /*MEDIA START FOR CONTAINER-PRICE-LIST-FOR-MOBILE-LIST*/
    .price-list-for-mobile {
        display: none;
    }
    

    /*MEDIA FINISH FOR CONTAINER-PRICE-LIST-FOR-MOBILE-LIST*/
}

@media(min-width:990px) {
    /*MEDIA START FOR CONTAINER-FOR-MOST-POPULAR-BIKES*/
    .most-popular-bike-heading h2 {
        font-size: 45px;
        line-height: 54px;
    }

    .most-popular-bikes-blocks {
        grid-template-columns: 1fr 1fr 1fr;
        
    }
    /* MEDIA FINISH FOR CONTAINER-FOR-MOST-POPULAR-BIKES
    ---------------------------------------------------*/
    /*MEDIA START FOR CONTAINER-FOR-REPAIRS*/
    .repairs h2 {
        font-size: 45px;
        line-height: 54px;
    }
    /*MEDIA FINISH FOR CONTAINER-FOR-REPAIRS
    ------------------------------------------------------*/
    /*MEDIA START FOR CONTAINER-PRICE-LIST-FOR-MOBILE-LIST*/
    .price-list-for-mobile {
        display: none;
    }
    /*MEDIA FINISH FOR CONTAINER-PRICE-LIST-FOR-MOBILE-LIST*/
}