.bikess {
    display: flex;
}
.main-start-three-blocks {
    background-color: rgb(39, 39, 39);
    width: 512px;
    height: 341px;
    text-align: center;
}
.main-start-three-blocks h3 {
    font-family: 'Montserrat', sans-serif;
    color: rgb(244, 244, 244);
    font-size: 23px;
    font-weight: 600;
    line-height: 31px;
    padding-top: 120px;
}
.main-start-three-blocks p {
    font-family: 'Montserrat', sans-serif;
    color: rgb(231, 231, 231);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-top: 20px;
}
.bikess .main-start-three-blocks .first-text {
    width: 395px;
    height: 45px;
    padding-left: 50px;
}
.bikess .main-start-three-blocks .second-text {
    width: 404px;
    height: 45px;
    padding-left: 50px;
}
.bikess .main-start-three-blocks .third-text {
    width: 315px;
    height: 45px;
    padding-left: 90px;
}
.main-start-three-blocks-silver-background{
    background-color: rgb(34, 34, 34);
}

/* блок main, розділ Most Popular Bikes  */

.most-popular-bikes {
    width: 100%;
    height: 866px;
    background-color: rgb(25, 25, 25);
}
.most-popular-bikes img {
    width: 370px;
    height: 202px;
}
.most-popular-bikes h2 {
    font-family: 'Playfair Display', serif;
    color: rgb(244, 244, 244);
    font-size: 45px;
    font-weight: 900;
    line-height: 54px;
}
.most-popular-bike-heading {
    text-align: center;
    padding-top: 80px;
}
.most-popular-bikes-blocks {
    display: flex;
    width: 1200px;
    height: 607px;
    text-align: start;
    margin-left: 180px;
    margin-top: 50px;
}
.most-popular-bikes-blocks h3 {
    font-family: 'Montserrat', sans-serif;
    color: rgb(244, 244, 244);
    font-size: 23px;
    font-weight: 600;
    line-height: 30px;
    padding-top: 30px;
}
.most-popular-bikes-blocks p {
    font-family: 'Montserrat', sans-serif;
    color: rgb(231, 221, 221);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-top: 20px;
}
.most-popular-bikes-separate-block2 {
    padding-right: 30px;
    padding-left: 30px;

}
.most-popular-bikes-blocks ul{
    padding-top: 30px;
}
.most-popular-bikes-blocks ul li {
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    color: rgb(231, 221, 221);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.most-popular-bikes-blocks ul li span{
    color: #E03033;
    font-weight: 700;
}
.most-popular-bikes-blocks button{
    width: 130px;
    height: 46px;
    background: rgb(34, 34, 34);
    color: rgb(244, 244, 244);
    border: 2px solid rgba(244,244,244);
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    margin-top: 40px;
    transition: 0.5s;    
}
.most-popular-bikes-blocks button:hover{
    color: #E03033;
    border: 2px solid #E03033;
    transition: 0.5s;
}